{{#x-form
  id="test-form"
  data=data
  validations=DummyValidations
  onSubmit=onSubmit as |form|
}}

  {{#form.field property="firstName" as |field|}}
    <div data-test-first-name class={{concat "form-group" (if field.errors.validation " has-error")}}>
      <h3>First Name</h3>
        {{#each field.errors as |error|}}
          {{error}}
        {{/each}}
        {{one-way-input
          class="form-control"
          id="form-first-name"
          value=field.value
          update=field.actions.onChange
          onBlur=field.actions.onBlur
        }}
    </div>
  {{/form.field}}

  {{#form.field property="lastName" as |field|}}
    <div data-test-last-name class={{concat "form-group" (if field.errors.validation " has-error")}}>
      <h3>Last Name</h3>
        {{one-way-input
          class="form-control"
          id="form-last-name"
          value=field.value
          update=field.actions.onChange
          onBlur=field.actions.onBlur
        }}
    </div>
  {{/form.field}}

  {{#form.field property="favoriteBand" as |field|}}
    <div data-test-favorite-band class={{concat "form-group" (if field.errors.validation " has-error")}}>
      <h3>Favorite Band</h3>
        {{one-way-select
          class="form-control"
          id="form-favorite-band"
          value=field.value
          options=bands
          update=field.actions.onChange
          onBlur=field.actions.onBlur
        }}
    </div>
  {{/form.field}}

  {{#if (or form.changeset.isDirty form.changeset.isInvalid)}}
    <button data-test-submit-button class="btn btn-primary" disabled={{form.isUnsubmittable}} {{action form.actions.submit}}>Save</button>
    <button data-test-cancel-button class="btn btn-danger" {{action form.actions.cancel}}>Cancel</button>
  {{/if}}

{{/x-form}}
