{{#x-form
  class="test-form"
  data=model
  validations=DummyValidations
  onSubmit=(action 'save')
  onSuccess=(action 'onSuccess')
  onError=(action 'onError')
  onCancel=(action 'cancel') as |form|
}}
  <div>
    <h3>First Name</h3>
    {{#form.field property="firstName" as |field|}}
      {{one-way-input
        value=field.value
        update=field.actions.onChange
        onBlur=field.actions.onBlur
      }}
    {{/form.field}}
  </div>

  <div>
    <h3>Last Name</h3>
    {{#form.field property="lastName" as |field|}}
      {{one-way-input
        value=field.value
        update=field.actions.onChange
        onBlur=field.actions.onBlur
      }}
    {{/form.field}}
  </div>

  <div>
    <h3>Favorite Band</h3>
    {{#form.field property="favoriteBand" as |field|}}
      {{one-way-select
        value=field.value
        options=bands
        update=field.actions.onChange
        onBlur=field.actions.onBlur
      }}
    {{/form.field}}
  </div>

  <br />

  <button {{action form.actions.submit}}>Save</button>
  <button {{action form.actions.cancel}}>Cancel</button>
{{/x-form}}
